* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {

  height: 100vh;
  display: grid;
  grid-template-columns: minmax(240px, 1fr) 5fr;
  grid-template-rows: 70px 1fr 100px;
  grid-template-areas: "logo header"
    "nav main"
    "footer footer";
}



.logo {
  padding-top: 2vh;
  padding-left: 1.2vw;
  grid-area: logo;
  background: #000000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
  color: white;
  font-size: 3vw;

}


main {
  background-color: #121212;
  grid-area: main;
  color: white;
  font-size: 20px;
}

.logo a img {
  width: 3.5vw;
  padding-top: 1vh;

}

.logo a {
  text-decoration: none;
  color: white;
}

