* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #121212;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-columns: 16rem 5fr;
  grid-template-rows: minmax(10%, 70px) 1fr minmax(20%, 100px);
  grid-template-areas: "logo header"
    "nav main"
    "footer footer";
}



.logo {
  padding-left: 1rem;
  grid-area: logo;
  background: #000000;
  display: flex;
  justify-content: flex-start;
 align-content: center;
  align-items: center; 
  color: white;
  font-size: 2.6rem;

}


main {
  background-color: #121212;
  grid-area: main;
  color: white;
  font-size: 20px;
}

.logo a .img-logo {
  width: 3.2rem;
  padding-top: 0.7rem;

}

.logo a {
  text-decoration: none;
  color: white;
}

