*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(240px, 1fr) 5fr;
    grid-template-rows: 70px 1fr 100px;
    grid-template-areas: "nav header"
                         "nav main"
                         "footer footer";
}

.header{
    background-color: red;
    grid-area: header;
}

.nav{
    background-color:blueviolet;
    grid-area: nav;
}

.main{
    background-color:blue; 
    grid-area: main;
}

.footer{
    background-color:black;   
    color: azure;
    grid-area: footer;
}