*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(240px, 1fr) 5fr;
    grid-template-rows: 70px 1fr 100px;
    grid-template-areas: "nav header"
                         "nav main"
                         "footer footer";
}

.header{
    background-color: red;
    grid-area: header;
}

.nav{
    background-color:blueviolet;
    grid-area: nav;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?fx27n9');
    src:  url('fonts/icomoon.eot?fx27n9#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?fx27n9') format('truetype'),
      url('fonts/icomoon.woff?fx27n9') format('woff'),
      url('fonts/icomoon.svg?fx27n9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-play-list-search-svgrepo-com:before {
    content: "\e900";
  }
.main{
    background-color:blue; 
    grid-area: main;
}

.footer{
    background-color:black;   
    color: azure;
    grid-area: footer;
}

button{
    font-family: 'icomoon', sans-serif;
}