
.overlay-like p{
  margin-top: 4px;
}
 
.overlay-like{
  display:none;
  position: absolute;
  bottom: 85px;
  left: 140px;
  color:white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.4) 0px 15px 12px;
  background: #292929;
  font-size: 14px;
  font-weight: lighter;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
}
  
.icon-like:hover .overlay-like{
  display: block;
} 
  
.icon-like:hover{
  color: white;
}


  
.rs{
  display:none;
  position: absolute;
  bottom: 85px;
  color:white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.4) 0px 15px 12px;
  background: #292929;
  font-size: 14px;
  font-weight: lighter;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  padding: 4px 10px;
}
  
.icon-microphone:hover .overlay-microphone{
  display: block;
  right: 216px;
}
  
.icon-queue:hover .overlay-queue{
  display: block;
  right: 180px;
}
.icon-laptop:hover .overlay-laptop{
  display: block;
  right: 90px;
}
  
.icon-sound-min:hover .overlay-sound-min{
  display: block;
  right: 110px;
}
  
.icon-shuffle-1-svgrepo-com:hover .overlay-shuffle{
  display: block;
  left: 530px;
}

  
.icon-play-and-pause:hover .overlay-play-and-pause{
  display: block;
  left: 600px;
}

  
.icon-play-and-pause2:hover .overlay-play-and-pause2{
  display: block;
  left: 726px;
}

  
.icon-play-circle:hover .overlay-play{
  display: block;
  left: 670px;
}

  
.icon-repeat-one:hover .overlay-repeat{
  display: block;
  left: 760px;
}



  
footer{
  width: 100vw;
  min-height: max-content; 
  position: fixed;
  bottom: -1vh;
  padding: 1.5vw;
  background-color:#181818;   
  color: #b2b2b2;
  grid-area: footer;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
  
.left-part{
    width: 20vw;
    display: grid;
    grid-template-columns: 4.5vw 5.8vw 2vw;
    grid-template-rows: 3.5vh 3.5vh;
    grid-template-areas:"current-song song-title icon-like"
                        "current-song band-name icon-like" ;
    justify-content: flex-start;
    grid-column-gap: 1.5vw;
    align-content: center;
    align-items: center;
}
  
.current-song{
    width: 4.5vw;
    height: 4.5vw;
    background: white;
    grid-area: current-song;
}
  
.song-title{
    color: white;
    font-weight: bold;
    grid-area:song-title;
}
  
.song-title:hover{
    text-decoration: underline;
}
  
.band-name{
    color: #b2b2b2;
    font-size: 14px;
    grid-area:band-name;
}
  
.band-name:hover{
    color: white;
    text-decoration: underline; 
}
  
.icon-like{
    color: #b2b2b2;
    font-size: 1.5vw;
    grid-area:icon-like;
    font-weight: bolder;
}

  
.right-part{
    width: 17.5vw;
    display: grid;
    grid-template-columns: 1.7vw 1.7vw 1.7vw 7vw;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    grid-column-gap: 1vw;
}
  
.right-part .ir{
    color: #b2b2b2;
    font-size: 1.5vw;
}
  
.right-part span:hover{
    color: white;
    font-size: 1.6vw;
}



.sound-line{
    width: 7vw;
    height: 4px;
    background: white;
    border-radius: 10px;
}

.sound{
    width: 9vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* .center-part{
width: 37vw;
display: grid;
grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
grid-template-rows: 3.8vw 1fr;
grid-template-areas: ". icon-shuffle-1-svgrepo-com icon-play-and-pause icon-play-circle icon-play-and-pause2 icon-repeat-one ."
                      "music-line music-line music-line music-line music-line music-line music-line";
align-items: center;
align-content: center;
justify-content: center;
justify-items: center;

} */

.center-part {
  width: 37vw;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 4vw 1fr;
  grid-template-areas: ". icons-player-align ."
    "music-line music-line music-line";
  align-items: center;
  align-content: center;
  justify-content: center;
  
}



.icons-player-align{
  grid-area: icons-player-align;
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 1fr 1fr ;
  grid-template-rows: 1fr;
  grid-template-areas: "icon-shuffle-1-svgrepo-com icon-play-and-pause icon-play-circle icon-play-and-pause2 icon-repeat-one";
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}




  
.icon-shuffle-1-svgrepo-com{
    grid-area: icon-shuffle-1-svgrepo-com;
    color: #b2b2b2;
    font-size: 1.5vw;
}
  
.icon-play-and-pause{
    grid-area: icon-play-and-pause;
    color: #b2b2b2;
    font-size: 1.5vw;
}
  
.icon-play-circle{
    grid-area: icon-play-circle;
    color: #b2b2b2;
    font-size: 3.3vw;
}

  
.icon-play-and-pause2{
    grid-area: icon-play-and-pause2;
    color: #b2b2b2;
    font-size: 1.5vw;
} 
  
.icon-repeat-one{
    grid-area: icon-repeat-one;
    color: #b2b2b2;
    font-size: 2vw;
}

  
.center-part .ic:hover{
color: white;
}

  
.icon-play-circle:hover{
  font-size: 3.4vw;
}


#music-line{
    grid-area: music-line;
    font-size: 13px;
    color: #b2b2b2;
    display: grid;
    grid-template-columns: 4vw 1fr 4vw;
    grid-template-rows: 1fr;
    grid-template-areas: "time-left slider-center time-right";
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}
.slider-center{
  grid-area: slider-center ;
  margin-top: 3px;
}
.time-left{
  grid-area: time-left;
}
.time-right{
  grid-area: time-right;
}

.line{
    width: 32vw;
    height: 4px;
    background: white;
    border-radius: 10px;  
    margin-top: 2px 
}



  
#sound-mute{
font-size: 2vw;
}
