nav {
    height: 100vh;
    color: #b2b2b2;
    background: #000000;
    font-weight: bolder;
    padding-left: 1rem;
    grid-area: nav;
    display: grid;
    grid-template-rows: repeat(2, 9rem);
    grid-row-gap: 2.9rem;
    align-content: flex-start;
    align-items: flex-start;
    padding-top: 1.5rem;

}

nav a .ic {
    font-size: 1.5rem;
    margin-right: 0.8rem;
}

nav a {
    text-decoration: none;
    color: #b2b2b2;
    padding: 0.3rem 0.5rem;
}



.main-nav {
    display: grid;
    grid-template-rows: repeat(3, 2.8rem);
}

.main-nav a:hover {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: 0.2s;
}

.home a,
.search a,
.library a,
.playlist a,
.liked-songs a {
    display: flex;
    flex-direction: row;
    align-content: center;
}



.dop-nav {
    display: grid;
    grid-template-rows: repeat(2, 2.8rem);
}

.dop-nav a:hover {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: 0.2s;
}