main {
    background-color: #121212;
    grid-area: main;
    color: white;
    padding: 2vw;
    display: grid;
    height: 100%;
    overflow: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: "main-header"
        "main-body";
}


.main-body {
    grid-area: main-body;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "next"
                         "list-of-song";
}

.main-header {
    grid-area: main-header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 30px 1fr;
    grid-template-areas: "header-queue"
        "."
        "now-playng";
}


.header-queue {
    font-size: 25px;
    font-weight: bolder;
    grid-area: header-queue;
}


.now-playng {
    grid-area: now-playng;
    color: #b2b2b2;
    font-weight: bolder;
    display: grid;
    grid-template-rows: auto 1fr 45px;
    grid-template-columns: 1fr;
    grid-template-areas: "np-title"
        "song-items"
        ".";
}


.np-title {
    grid-area: np-title;
    font-size: 18px;
}


.song-items {
    grid-area: song-items;
    display: grid;
    margin-top: 4px;
    border-radius: 3px;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "song-left song-right";
    padding: 0.5vw 1vw;
}

.song-items:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.song-left {
    grid-area: song-left;
    display: grid;
    grid-template-columns: 20px 5vw max-content 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "icon-play current-song-player np-song-title ."
        "icon-play current-song-player np-band-name .";
    align-items: center;
}


.icon-play {
    color: white;
    font-size: 14px;
    grid-area: icon-play;
}

.current-song-player {
    width: 3vw;
    height: 3vw;
    background: white;
    grid-area: current-song-player;
    margin: 0 10px;
}

.np-song-title {
    grid-area: np-song-title;
    font-size: 16px;
    color: white;
    font-weight: normal;
}

.np-band-name {
    grid-area: np-band-name;
    font-weight: normal;
    font-size: 16px;
}

.song-right {
    grid-area: song-right;
    display: grid;
    grid-template-columns: max-content 1fr 3.1vw 3.1vw 3.5vw;
    grid-template-rows: 1fr;
    grid-template-areas: "album-title . icon-like time icon-dots";
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.album-title {
    grid-area: album-title;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}
.album-title:hover{
    color: white;
    text-decoration: underline;
}

.song-right .icon-like {
    font-size: 1.5vw;
    grid-area: icon-like;
}

.time{
    font-size: 16px;
    font-weight: normal;
    grid-area: time;
}

.icon-dots{
    grid-area: icon-dots;
}

.icon-dots:hover{
    color: white;
    text-decoration: underline;
}

.next{
    grid-area: next;
}

.current-song-title{
    grid-area: current-song-title;
}

.list-of-songs{
    grid-area: list-of-song;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 4px;
}

.song-line{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "song-left song-right";
    padding: 0.5vw 1vw;
    border-radius: 3px;
}

.song-line:hover{
    background-color: rgba(255, 255, 255, 0.1);
}