input[type=range].track-slider {
    height: 1em;
    -webkit-appearance: none;
}

/*progress support*/
input[type=range].track-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 0.9em + var(--ratio) * (100% - 0.9em));
}

input[type=range].track-slider:focus {
    outline: none;
}

/*webkit*/
input[type=range].track-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0.9em;
    height: 0.9em;
    border-radius: 1em;
    background: #FAFAFA;
    border: 1px solid #D3D3D3;
    box-shadow: 0 0 3px #000000;
    margin-top: calc(max((1em - 1px - 1px) * 0.5, 0px) - max(0.9em * 0.5, 1px));
}

input[type=range].track-slider::-webkit-slider-runnable-track {
    height: 1em;
    border: 1px solid #b2b2b2;
    border-radius: 0.5em;
    background: #5e5e5e;
    box-shadow: none;
}

input[type=range].track-slider::-webkit-slider-thumb:hover {
    background: #DBE0E5;
    border-color: #D3D3D3;
}

input[type=range].track-slider:hover::-webkit-slider-runnable-track {
    background: #5e5e5e;
    border-color: #9a9a9a;
}

input[type=range].track-slider:active::-webkit-slider-runnable-track {
    background: #5e5e5e;
    border-color: #c1c1c1;
}

input[type=range].track-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#1db954, #1db954) 0/var(--sx) 100% no-repeat, #5e5e5e;
}

input[type=range].track-slider.slider-progress:hover::-webkit-slider-runnable-track {
    background: linear-gradient(#14C653, #14C653) 0/var(--sx) 100% no-repeat, #5e5e5e;
}

input[type=range].track-slider.slider-progress:active::-webkit-slider-runnable-track {
    background: linear-gradient(#25E066, #25E066) 0/var(--sx) 100% no-repeat, #5e5e5e;
}

/*mozilla*/
input[type=range].track-slider::-moz-range-thumb {
    width: max(calc(0.9em - 1px - 1px), 0px);
    height: max(calc(0.9em - 1px - 1px), 0px);
    border-radius: 1em;
    background: #FAFAFA;
    border: 1px solid #D3D3D3;
    box-shadow: 0 0 3px #000000;
}

input[type=range].track-slider::-moz-range-track {
    height: max(calc(1em - 1px - 1px), 0px);
    border: 1px solid #b2b2b2;
    border-radius: 0.5em;
    background: #5e5e5e;
    box-shadow: none;
}

input[type=range].track-slider::-moz-range-thumb:hover {
    background: #DBE0E5;
    border-color: #D3D3D3;
}

input[type=range].track-slider:hover::-moz-range-track {
    background: #5e5e5e;
    border-color: #9a9a9a;
}

input[type=range].track-slider:active::-moz-range-track {
    background: #5e5e5e;
    border-color: #c1c1c1;
}

input[type=range].track-slider.slider-progress::-moz-range-track {
    background: linear-gradient(#1db954, #1db954) 0/var(--sx) 100% no-repeat, #5e5e5e;
}

input[type=range].track-slider.slider-progress:hover::-moz-range-track {
    background: linear-gradient(#14C653, #14C653) 0/var(--sx) 100% no-repeat, #5e5e5e;
}

input[type=range].track-slider.slider-progress:active::-moz-range-track {
    background: linear-gradient(#25E066, #25E066) 0/var(--sx) 100% no-repeat, #5e5e5e;
}

/*ms*/
input[type=range].track-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range].track-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].track-slider::-ms-thumb {
    width: 0.9em;
    height: 0.9em;
    border-radius: 1em;
    background: #FAFAFA;
    border: 1px solid #D3D3D3;
    box-shadow: 0 0 3px #000000;
    margin-top: 0;
    box-sizing: border-box;
}

input[type=range].track-slider::-ms-track {
    height: 1em;
    border-radius: 0.5em;
    background: #5e5e5e;
    border: 1px solid #b2b2b2;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range].track-slider::-ms-thumb:hover {
    background: #DBE0E5;
    border-color: #D3D3D3;
}

input[type=range].track-slider:hover::-ms-track {
    background: #5e5e5e;
    border-color: #9a9a9a;
}

input[type=range].track-slider:active::-ms-track {
    background: #5e5e5e;
    border-color: #c1c1c1;
}

input[type=range].track-slider.slider-progress::-ms-fill-lower {
    height: max(calc(1em - 1px - 1px), 0px);
    border-radius: 0.5em 0 0 0.5em;
    margin: -1px 0 -1px -1px;
    background: #1db954;
    border: 1px solid #b2b2b2;
    border-right-width: 0;
}

input[type=range].track-slider.slider-progress:hover::-ms-fill-lower {
    background: #14C653;
    border-color: #9a9a9a;
}

input[type=range].track-slider.slider-progress:active::-ms-fill-lower {
    background: #25E066;
    border-color: #c1c1c1;
}


input[type=range] {
    background-color: rgba(0, 0, 0, 0);
    accent-color: red;
}


/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: #30ce18;
    height: 1em;
    border-radius: 1em;
}


/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	position: relative;
}

input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

input[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}



input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}