
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(240px, 1fr) 5fr;
  grid-template-rows: 70px 1fr 100px;
  grid-template-areas: "logo header"
                       "nav main"
                       "footer footer";
}

header{
  background-color: #181818;
  grid-area: header;
  padding: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
header img{
    width: 1.3vw; 
}

.arrow-nav{
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.arrow{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-content: center;
}

.left{
    margin-right: 2px;
    cursor: not-allowed;
}

.right{
    margin-left: 2px;
    cursor: not-allowed;
}
.buttons button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    background: white;
}



.buttons button:hover{
    width: 125px;
    height: 43px;
}


.logo{
  padding-top: 2vh;
  padding-left: 1.2vw;
  grid-area: logo;
  background: #000000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
  color: white;
  font-size: 3vw;

}

nav{
  color: #b2b2b2;
  background: #000000;
  font-weight: bolder;
  padding-left: 1.2vw;
  grid-area: nav;
  display: grid;
  grid-template-rows: repeat(2, 15vh);
  grid-row-gap: 10vh;
  align-content: flex-start;
  align-items:flex-start;
  padding-top: 4vh;
 
}

main{
  background-color:#121212; 
  grid-area: main;
  color: white;
  padding: 2vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas: "main-header"
                       "main-body";
}



.main-body{
  background: rgb(30, 1, 56);
  grid-area: main-body;
}
.main-header{
  grid-area: main-header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 35px 1fr;
  grid-template-areas: "header-queue"
                        "."
                       "now-playng";
}

.header-queue{
  font-size: 25px;
  font-weight: bolder;
  grid-area: header-queue;
}

.now-playng{
  grid-area: now-playng;
  color: #b2b2b2;
  font-weight: bolder;
  display: grid;
  grid-template-rows: auto 1fr 45px;
  grid-template-columns: 1fr ;
  grid-template-areas: "np-title"
                       "song-items"
                       ".";
}

.np-title{
  grid-area: np-title;
}

.song-items{
  grid-area:song-items;
  display: grid;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 4px;
  border-radius: 5px;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "song-left song-right";
  padding: 0.5vw 1vw;
}

.song-left{
  background-color:rgb(87, 49, 2);
  grid-area: song-left; 
  display: grid;
  grid-template-columns: 20px 3vw min-content;
  grid-template-rows: 1fr;
}

.icon-play{
  color: white;
  font-size: 14px;
}

.current-song-player{
  width:3vw;
  height: 3vw;
  background: white;
}

.song-right{
  background-color:rgb(50, 4, 124);
  grid-area: song-right;
}


footer{
  padding: 1.5vw;
  background-color:#181818;   
  color: #b2b2b2;
  grid-area: footer;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.left-part{
    width: 20vw;
    display: grid;
    grid-template-columns: 4.5vw 5.8vw 2vw;
    grid-template-rows: 3.5vh 3.5vh;
    grid-template-areas:"current-song song-title icon-like"
                        "current-song band-name icon-like" ;
    justify-content: flex-start;
    grid-column-gap: 1.5vw;
    align-content: center;
    align-items: center;
}

.current-song{
    width: 4.5vw;
    height: 4.5vw;
    background: white;
    grid-area: current-song;
}

.song-title{
    color: white;
    font-weight: bold;
    grid-area:song-title;
}

.song-title:hover{
    text-decoration: underline;
}

.band-name{
    color: #b2b2b2;
    font-size: 14px;
    grid-area:band-name;
}

.band-name:hover{
    color: white;
    text-decoration: underline; 
}

.icon-like{
    color: #b2b2b2;
    font-size: 1.5vw;
    grid-area:icon-like;
    font-weight: bolder;
}


.right-part{
    width: 17.5vw;
    display: grid;
    grid-template-columns: 1.7vw 1.7vw 1.7vw 7vw;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    grid-column-gap: 1vw;
}

.right-part .ir{
    color: #b2b2b2;
    font-size: 1.5vw;
}

.right-part span:hover{
    color: white;
    font-size: 1.6vw;
}



.sound-line{
    width: 7vw;
    height: 4px;
    background: white;
    border-radius: 10px;
}

.sound{
    width: 9vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.center-part{
width: 37vw;
display: grid;
grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
grid-template-rows: 3.8vw 1fr;
grid-template-areas: ". icon-shuffle-1-svgrepo-com icon-play-and-pause icon-play-circle icon-play-and-pause2 icon-repeat-one ."
                      "music-line music-line music-line music-line music-line music-line music-line";
align-items: center;
align-content: center;
justify-content: center;
justify-items: center;

}



.icon-shuffle-1-svgrepo-com{
    grid-area: icon-shuffle-1-svgrepo-com;
    color: #b2b2b2;
    font-size: 1.5vw;
}
.icon-play-and-pause{
    grid-area: icon-play-and-pause;
    color: #b2b2b2;
    font-size: 1.5vw;
}
.icon-play-circle{
    grid-area: icon-play-circle;
    color: #b2b2b2;
    font-size: 3.3vw;
}
.icon-play-and-pause2{
    grid-area: icon-play-and-pause2;
    color: #b2b2b2;
    font-size: 1.5vw;
} 
.icon-repeat-one{
    grid-area: icon-repeat-one;
    color: #b2b2b2;
    font-size: 2vw;
}

.center-part .ic:hover{
color: white;
}

.icon-play-circle:hover{
  font-size: 3.4vw;
}


#music-line{
    grid-area: music-line;
    font-size: 13px;
    color: #b2b2b2;
    display: grid;
    grid-template-columns: 2.5vw 1fr 2.5vw;
    align-items: center;
}

.line{
    width: 32vw;
    height: 4px;
    background: white;
    border-radius: 10px;  
    margin-top: 2px 
}

.time{
  display: flex;
  justify-content: flex-end;
}


#sound-mute{
font-size: 2vw;
}


.logo a img{
  width: 3.5vw;
  padding-top: 1vh; 
 
}
.logo a{
  text-decoration: none;
  color: white;
}

nav a .ic{
  font-size: 1.8vw;
  margin-right: 1vw;
}

nav a{
  text-decoration: none;
  color: #b2b2b2;
  padding: 0.7vh 1vh;
  margin-right: 1.5vh;
}


.main-nav{
  display: grid;
  grid-template-rows: repeat(3, 7vh);
  
}
.dop-nav{
  display: grid;
  grid-template-rows: repeat(2, 7vh);
}

.home a, .search a, .library a, .playlist a, .liked-songs a{
  display: flex;
  flex-direction: row;
  align-content: center;
}

.main-nav a:hover{
color: white;
background: rgba(255, 255, 255, 0.2);
border-radius: 5px;
transition: 0.2s;
}
.dop-nav a:hover{
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transition: 0.2s;
  }

  /*/////////////////overlay//////////////////////*/
  .overlay-like p{
    margin-top: 4px;
  }
  .overlay-like{
    display:none;
    position: absolute;
    bottom: 85px;
    left: 140px;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.4) 0px 15px 12px;
    background: #292929;
    font-size: 14px;
    font-weight: lighter;
    width: 150px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
  }
  .icon-like:hover .overlay-like{
    display: block;
  } 
  .icon-like:hover{
    color: white;
  }

  .rs{
    display:none;
    position: absolute;
    bottom: 85px;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.4) 0px 15px 12px;
    background: #292929;
    font-size: 14px;
    font-weight: lighter;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    padding: 4px 10px;
  }

  .icon-microphone:hover .overlay-microphone{
    display: block;
    right: 216px;
  }

  .icon-queue:hover .overlay-queue{
    display: block;
    right: 180px;
  }

  .icon-laptop:hover .overlay-laptop{
    display: block;
    right: 90px;
  }

  .icon-sound-min:hover .overlay-sound-min{
    display: block;
    right: 110px;
  }

  .icon-shuffle-1-svgrepo-com:hover .overlay-shuffle{
    display: block;
    left: 535px;
  }

  .icon-play-and-pause:hover .overlay-play-and-pause{
    display: block;
    left: 610px;
  }

  .icon-play-and-pause2:hover .overlay-play-and-pause2{
    display: block;
    left: 730px;
  }

  .icon-play-circle:hover .overlay-play{
    display: block;
    left: 680px;
  }

  .icon-repeat-one:hover .overlay-repeat{
    display: block;
    left: 765px;
  }

  

