*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(240px, 1fr) 5fr;
  grid-template-rows: 70px 1fr 100px;
  grid-template-areas: "nav header"
                       "nav main"
                       "footer footer";
}

.header{
  background-color: red;
  grid-area: header;
}

.nav{
  color: #b2b2b2;
  background: #000000;
  grid-area: nav;
  display: flex;
  
}

.main{
  background-color:#121212; 
  grid-area: main;
}

.footer{
  background-color:#181818;   
  color: #b2b2b2;
  grid-area: footer;
}

.nav a{
  color: white;
}